//Colors
$site-blue: rgb(62, 130, 131);
$site-green:  rgb(187, 189, 53);
$site-red: rgb(202, 76, 39);
$site-purple: rgb(219, 135, 184);
$site-orange: rgb(214, 121, 40);
$site-lightGrey: #ededed;
$site-font: #5f6263;
$site-background: rgba(242,243,248,1);