footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $green;
  font-family: sans;
}

@media (max-width: 767px) {
  img {
    height: 60px;
    width: 60px;
    margin: 0px 20px;
  }
}
